body {
    margin: 0;
}


.tweet-text-input {
    height: 58px;
    width: 67%;
}


.tweetBody {
    width: 75%;
    margin: 1% auto;
    display: block;
}

.tweet-avatar {
    display: inline-block;
    vertical-align: top;
    font-family: Arial;
    font-style: italic;
    width: 15%;
}

.avatar-image{
    width: 83%;
}

.tweets-section {
    padding-top: 2%;
    height: 100%;
    width: 60%;
    font-size: 75%;
    font-family: Verdana;
}

.inner-section {
    padding: 0.6%;
}
.tweet-user {
    height: 68%;
    width: 80%;
    display: inline-block;
}


