.failed {
    background-color: #d68c8c;
}

.passed {
    background-color: #bafdba;
}

.testGroup {
    padding: 5px;
    margin: 10px 0;
}

.assert {
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
}

