body {
    margin: 0;
}

.primery-thumb {
    border: 5px solid #d3d3d3 !important;
    padding: 0 15px !important;
}


@keyframes extandsUser {
    0%      {margin-bottom: 0}
    100%    {margin-bottom: 20px}
}

.followers {
    animation: extandsUser 0.2s;
    height: 170px;
}

