
#header {
    border-radius: 0;
    background-color: #0a64eb;
}

#header a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
}

#header a:hover {
    background-color: transparent !important;
    color: #e1e1e1 !important
}

#logo-name {
    font-size: 17px !important;
    font-family: sans-serif;

}

#logo-img {
    height: 22px;
}
